/*Reset inicial*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    font-family: 'Inter', sans-serif;
    background-color: #255459;
    
}

/*Header body*/
.title {
    width: 100%;
    height: 500px;
    background: #44A08D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(181, 72%, 13%, 0.664), #44a08dc0),url(../img/img_wave.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size:cover; 
    background-attachment: fixed;
    position: relative;   
}
    
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title > .content-title{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content-title-one { 
    color: white;
    font-size: 5em;
    font-weight: lighter;
    margin:0;
    padding:0;
}
.content-title-two {
    color: white;
    font-size:8em;
    font-weight: lighter;
    letter-spacing: 25px;
    margin-top: -45px; 
    padding: 0;
    border-bottom: 1px solid white;
}
.content-title-three {
    color: white;
    font: size 3em;;
    font-weight: lighter;
    letter-spacing: 20px;
    padding-top: 10px;
}

/* ------------Inicio Grid ----------------*/
.container {
    background: #44A08D;  
    background: -webkit-linear-gradient(to right, #093637, #44A08D);  
    background: linear-gradient(to right, #093637, #44A08D); 
    
    width: 95%;
    max-width: 1800px;
    margin: 1em auto;

    display: grid;
    border-radius: 30px;
    gap: 2em;
    grid-template-columns: repeat(4,290px);
    grid-template-rows:auto auto 500px auto;
    /*Utilizamos las Grid - Areas */
    grid-template-areas: "header header header header"
                         "content-one content-two content-three content-four"
                         "review1 review2 review3 review4"
                         "footer footer footer footer";

}

.container > .header,
.container > .content-one,
.container > .content-two,
.container > .content-three,
.container > .content-four,
.container > .review,
.container > .footer {
    padding: 20px;
    background-color: hsla(146, 25%, 67%, 0.116);
    border-radius: 30px;
    
}

/*-----------Header--------------*/

.container .header{
    grid-area: header;
}
.navbar{
    width: 100%;
    background-color:hsla(146, 25%, 67%, 0.116);
    border-radius: 30px;
    color:black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight:100;
    height: 5rem;
    line-height: 5rem;
}

.navbar-container{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style:none;
}

.navbar ul li{
    display:inline-block;
    padding: 0 2rem;
    cursor: pointer;
    transition: all 500ms ease-out;
}
.navbar ul li:hover {
    background-color: #093637;
    color: #fff;
    font-weight: bolder;
    border-radius: 15px;
}

/*---------Temporada uno-------------*/
.content-one {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content-one figure {
    position: relative;
    width: 280px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.content-one figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.content-one figure .capa {
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(168, 40%, 45%, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.content-one figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.content-one figure:hover > .capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}
.content-one figure .capa h3{
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 40px;
}
.content-one figure .capa p{
    color: #fff;
    font-size: 15px;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.content-one figure:hover > img{
    transform: scale(1.3);
}

/* ----- Temporada dos ------ */
.content-two {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content-two figure {
    position: relative;
    width: 280px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.content-two figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.content-two figure .capa {
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(168, 40%, 45%, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.content-two figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.content-two figure:hover > .capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}
.content-two figure .capa h3{
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 40px;
}
.content-two figure .capa p{
    color: #fff;
    font-size: 15px;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.content-two figure:hover > img{
    transform: scale(1.3);
}

/*-----Temporada  tres -------*/
.content-three {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content-three figure {
    position: relative;
    width: 280px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.content-three figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.content-three figure .capa {
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(168, 40%, 45%, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.content-three figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.content-three figure:hover > .capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}
.content-three figure .capa h3{
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 40px;
}
.content-three figure .capa p{
    color: #fff;
    font-size: 15px;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.content-three figure:hover > img{
    transform: scale(1.3);
}
/*-------Temporada 4-------------*/

.content-four {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content-four figure {
    position: relative;
    width: 280px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.content-four figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.content-four figure .capa {
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(168, 40%, 45%, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.content-four figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.content-four figure:hover > .capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}
.content-four figure .capa h3{
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 40px;
}
.content-four figure .capa p{
    color: #fff;
    font-size: 15px;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.content-four figure:hover > img{
    transform: scale(1.3);
}

/*--------Criticas 1 ----------*/
.container .review1{
    text-align: center;
    border: 1px solid #093637;
    grid-area: review1;
    background-color: #255459;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.review1 img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100px;
    background-color: aliceblue;
}
.review1 p{
    color: white;
    text-align: center;
    font-size: 20Px;
    margin-top: 20px;
}

/*--------Criticas 2 ----------*/
.container .review2{
    text-align: center;
    border: 1px solid #093637;
    grid-area: review2;
    background-color: #255459;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.review2 img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100px;
    background-color: aliceblue;
}
.review2 p{
    color: white;
    text-align: center;
    font-size: 20Px;
    margin-top: 20px;
}
/*--------Criticas 3 ----------*/
.container .review3{
    text-align: center;
    border: 1px solid #093637;
    grid-area: review3;
    background-color: #255459;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.review3 img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100px;
    background-color: aliceblue;
}
.review3 p{
    color: white;
    text-align: center;
    font-size: 20Px;
    margin-top: 20px;
}
/*--------Criticas 4 ----------*/
.container .review4{
    text-align: center;
    border: 1px solid #093637;
    grid-area: review4;
    background-color: #255459;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.review4 img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100px;
    background-color: aliceblue;
}
.review4 p{
    color: white;
    text-align: center;
    font-size: 20Px;
    margin-top: 20px;
}
/*-------Footer-----------*/
.container .footer{
    text-align: center;
    grid-area: footer;
}
.footer > h1 {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
        padding: 0 30px;
}

@media screen and (max-width: 900px) {
    .title {
        width: 900px;
    
    }
    .container{
        width: 900px;
        margin: 1em auto;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:auto;
        grid-template-areas: "header header"
                            "content-one content-two" 
                            "content-three content-four"
                             "review1 review2"
                             "review3 review4" 
                             "footer footer";
    }

}

@media screen and (max-width: 768px) {
    .title {
        width: 768px;
    
    }
    .container{
        width: 768px;
        margin: 1em auto;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:auto;
        grid-template-areas: "header"
                            "content-one" 
                            "content-two"
                            "content-three"
                            "content-four"
                             "review1"
                             "review2"
                             "review3" 
                             "review4"
                            "footer";
    }

}
@media screen and (max-width: 500px) {
    .title {
        width: 500px;
    
    }
    .container{
        width: 500px;
        margin: 1em auto;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:auto;
        grid-template-areas: "header"
                            "content-one" 
                            "content-two"
                            "content-three"
                            "content-four"
                             "review1"
                             "review2"
                             "review3" 
                             "review4"
                            "footer";
    }

}
@media screen and (max-width: 480px) {
    .content-title{
        width: 480px;
    }
    .container{
        width: 480;
        height: 1500px;
        margin: 1em auto;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(10,auto);
        grid-template-areas: "header"
                            "content-one" 
                            "content-two"
                            "content-three"
                            "content-four"
                             "review1"
                             "review2"
                             "review3" 
                             "review4"
                            "footer";
    }

}